<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <h1>Astronomy & Aerospace - LIVE Dashboard</h1>
    <%= yield %>
    <script>
        //function myFunction () {
         //   window.location.reload();
        //}

        //var interval = setInterval(function () { myFunction(); }, 60000);
    </script>

    <style>
      body {
        font-family: Arial;
        text-transform: uppercase;
      }
    </style>
  </body>
</html>
